.cool_svg {
  background-color: rgba(5, 19, 34, 0.5);
  border-radius: 12%;
  transition: background-color 2s, transform 360000s;
}
.line {
  stroke: rgb(200, 255, 240);
  fill: none;
  stroke-width: 4px;
  transition: stroke-width 2s;
}
.line:hover {
  stroke-width: 20px;
}
.circle {
  stroke: rgb(255, 200, 200);
  fill: white;
  stroke-width: 4px;
  transition: fill 1s, stroke 1s;
}
.circle:hover {
  fill: red;
  stroke: black;
}
.god_text_with_children {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  fill: rgb(39, 64, 112);
  transition: fill-opacity 1s;
}
.god_text_without_children {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  fill: crimson;
  transition: fill-opacity 1s;
}
